.todo__alert {
    margin: 0;
    height: 20px;
}

.todo__alert--success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}

.todo__alert--danger {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}

.create-form-title,.search-form-title {
    font-size: 18px;
}

.todo-content {
    width: 80%;
    margin: 0 auto;
}

.content {
    margin-bottom: 50px;
}

.create-form,.search-form {
    display: flex;
    justify-content: space-between;
}


.create-form__item {
    
}

.create-form__item-input, .search-form__item-input {
    width: 300px;
    height: 40px;
}

.create-form__item-select,.search-form__item-select {
    width: 150px;
    height: 40px;
    appearance: none;
    padding: 10px;
}

.create-form_button ,.search-form__button{
    border: none;
    border-radius: 3px;
}

.create-form_button-submit,.search-form__button-submit {
    width: 150px;
    height: 40px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 3px;
}

.todo-table__inner {
    width: 100%;
}

.todo-table__header {
    text-align: left;
    border-bottom: 1px solid rgb(194, 191, 191);
}

.todo-table {
    width: 100%;
    margin-top: 50px;
}

.todo-table__row {
    padding: 5px 5px 5px 20px;
}

.todo-table__row:last-child {
    padding-right: 20px;
}

.todo-table__row:first-child {
    padding-left: 20px;
}

.todo-table__item {
    border-bottom: 1px solid rgb(194, 191, 191);
    padding: 5px;
    border-spacing: 0;
}

.update-form {
    display: flex;
}

.update-form__item-input {
    border: none;
}

.update-form__item-select {
    appearance: none;
    border: none;
}

.update-form__button-submit {
    width: 50px;
    height: 30px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 3px;
}

.delete-form__button-submit {
    width: 50px;
    height: 30px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 3px;
}