.create-form-title,.search-form-title {
}


.create-form,.search-form {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: 0 auto;
}


.create-form__item {
    
}

.create-form__item-input, .search-form__item-input {
    width: 300px;
    height: 40px;
}

.create-form__item-select,.search-form__item-select {
    width: 150px;
    height: 40px;
}
.create-form_button ,.search-form__button{
    border: none;
    border-radius: 3px;
}

.create-form_button-submit,.search-form__button-submit {
    width: 150px;
    height: 40px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 3px;
}
